
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../static/styles/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuickHQ</title>
</head>
<header class="text-gray-700 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">QuickHQ</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="https://github.com/sumukshashidhar/quick">GitHub</a>
    </nav>
    <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0" onclick="location.href='/register'">Register
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0" onclick="location.href='/login'">Login
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
<label class="block">
    <span class="text-gray-700">Name</span>
    <input class="form-input mt-1 block w-full" placeholder="Jane Doe">
  </label>
  
  <div class="mt-4">
    <span class="text-gray-700">Account Type</span>
    <div class="mt-2">
      <label class="inline-flex items-center">
        <input type="radio" class="form-radio" name="accountType" value="personal">
        <span class="ml-2">Personal</span>
      </label>
      <label class="inline-flex items-center ml-6">
        <input type="radio" class="form-radio" name="accountType" value="busines">
        <span class="ml-2">Business</span>
      </label>
    </div>
  </div>
  
  <label class="block mt-4">
    <span class="text-gray-700">Requested Limit</span>
    <select class="form-select mt-1 block w-full">
      <option>$1,000</option>
      <option>$5,000</option>
      <option>$10,000</option>
      <option>$25,000</option>
    </select>
  </label>
  
  <div class="flex mt-6">
    <label class="flex items-center">
      <input type="checkbox" class="form-checkbox">
      <span class="ml-2">I agree to the <span class="underline">privacy policy</span></span>
    </label>
  </div>